@model IEnumerable<MVCDemo.Models.Employee>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>
    @Html.ActionLink("Create...","Create");
</p>

<h3>List of Employees</h3>
<table class="table">
    <tr>
        <th>Ecode</th>
        <th>Ename</th>
        <th>Salary</th>
        <th>Deptid</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Ecode</td>
            <td>@item.Ename</td>
            <td>@item.Salary</td>
            <td>@item.Deptid</td>
            <td>
                <p>
                    @Html.ActionLink("Edit","Edit",new {@id=item.Ecode}) |
                    @Html.ActionLink("Delete", "Delete", new { @id = item.Ecode })
                </p>
            </td>
        </tr>        
    }
</table>
